html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  display: block;
  background-color: gainsboro;
}

#venueAttribution {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

#venueAttribution > span {
  display: inline-block;
  max-width: 60%;
  line-height: 2em;
  font-weight: 900;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (min-width: 480px) {
  #venueAttribution > span {
    max-width: 100%;
  }
}

#venueAttribution a {
  text-decoration: none;
  color: inherit;
}

.leaflet-popup {
  font-size: 1.1rem;
}